* {
    box-sizing: border-box;
}
@font-face {
    font-family: God of War;
    src: url(../fonts/GODOFWAR.TTF);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'God of War', Arial;
    background-color: #CCC;
}
header {
    margin: 40px 40px 0 40px;
    padding: 0 50px;
    background-color: #DDD;
}
header figure {
    margin: 0;
    text-align: center;
}
.title {
    text-align: center;
}
.header_images {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}
.header_images img {
    width: 300px;
    max-width: 50%;
}
.fig_desc {
    padding: 5px 0;
}
main {
    padding: 50px;
    padding-bottom: 15px;
    margin: 0 40px;
    background-color: #999;
}
.biography {
    line-height: 25px;
}
footer {
    background-color: #333;
    margin: 0 40px;
    padding: 50px;
    padding-bottom: 15px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a,
.biography a {
    text-decoration: none;
    color: #777;
    text-shadow: 1px 1px 2px #000;
}
.footer_icon {
    display: flex;
}
.footer_icon img {
    width: 30px;
    margin-left: 10px;
}