* {
    box-sizing: border-box;
}
@font-face {
    font-family: God of War;
    src: url(../fonts/GODOFWAR.TTF);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #CCC;
}
header {
    margin: 40px;
    padding: 0 50px;
    background-color: #DDD;
}
header figure {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.title {
    text-align: center;
    font-family: 'God of War', Arial;
}
.header_images {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}
.header_images img {
    width: 300px;
    max-width: 50%;
}